<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-pomelo" value="../../artifacts/packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-pomelo">
      <package pattern="Pomelo.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Humanizer.*" />
      <package pattern="Mono.*" />
      <package pattern="MySqlConnector*" />
      <package pattern="NetTopologySuite*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="Castle.*" />
      <package pattern="NuGet.*" />
      <package pattern="runtime.*" />
      <package pattern="dotnet-*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
